body {
    display:flex; /* Use flexbox layout to align items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 100vh; /* Set the body height to 100%  of the viewport height */
    margin: 0; /* Remove default margin */
}

canvas{
    border: 1px solid #000; /* Add a black border to canvas */

}

